@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@model Survey

<div class="row text-center">
    <div class="col-12">
        <h1 class="display-4">Take a Survey</h1>
    </div>
</div>

<div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

        <form action="/" method="post">
            <div class="form-group">
                <label asp-for="Name">Your name:</label>&nbsp&nbsp<span asp-validation-for="Name" class="error"></span>
                <input class="form-control" asp-for="Name" />
            </div>
            <div class="form-group">
                <label asp-for="Location">Dojo Location:</label>&nbsp&nbsp<span asp-validation-for="Location"
                    class="error"></span>
                <select class="form-control" asp-for="Location">
                    <option></option>
                    <option>Seattle</option>
                    <option>San Jose</option>
                    <option>San Antonio</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Language">Favorite Language:</label>&nbsp&nbsp<span asp-validation-for="Language"
                    class="error"></span>
                <select class="form-control" asp-for="Language">
                    <option></option>
                    <option>Python</option>
                    <option>JavaScript</option>
                    <option>C#</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Comment">Comment:</label>&nbsp&nbsp<span asp-validation-for="Comment"
                    class="error"></span>
                <textarea class="form-control" asp-for="Comment"></textarea>
            </div>
            <div class="form-group text-right">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>